@import '../src/styles/variables';

html {
    font-size: 62.5%;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10.25rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(#2F4F4F, 0.8);
    color: #FFFFFF;

    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 65% 80%, 55% 100%, 0 100%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 80%, 65% 80%, 55% 100%, 0 100%, 0 0);

    z-index: 1000;
}

.border {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: #e01414;
    color: #FFFFFF;

    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 65% 80%, 55% 100%, 0 100%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 80%, 65% 80%, 55% 100%, 0 100%, 0 0);

    z-index: -1;
}

h1 {
    font-size: 3.5rem;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding-left: 1.5rem;
    padding-top: 15rem;
    background: #ff0000;
    color: #FFFFFF;

    
}

body {
    font-size: 1.9rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    word-break: normal;
    font-size: 1.9rem;
    padding-right: 3.5rem;
}

/* @media screen {
    .border {
        height: 12rem;
    }
    .nav {
        height: 12.25rem;
    }
} */