@import '../styles/variables';

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-black, 0.5);

    z-index: 500;
}

.ability_full {
    flex-direction: column;
    position: absolute;
    top: 15.25%;
    left: 0.5%;
    width: 35%;
    height: 67.5%;
    border-radius: 0.9rem;
    box-shadow: 2px 2px 8px rgba(black, 0.6);
    backface-visibility: hidden;
    overflow: hidden;

    animation: slideIn 300ms ease-out;
    
    cursor: default;

    @include respond(tablet-1) {
        top: 12.5%;
        height: 52%;
        width: 52.5%;
    }
    @include respond(phone-1) {
        top: 11%;
        height: 48%;
    }

    @include ios(iphone-8) {
        top: 15%;
        height: 46%;
    }

    z-index: 2000;
}

.ability_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    height: 15%;
    padding: 0 6.25%;
    padding-bottom: 2rem;
    font-size: 3.75rem;
    opacity: 1;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);

    & > h4 {
        text-transform: capitalize;
    }
}

.ability_info {
    height: 85%;
    padding: 1rem 1.5rem;
    font-size: 3.25rem;

    overflow: hidden;
    overflow-y: scroll;
}

.loading {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}

@keyframes slideIn {
    0% {
        transform: translateX(-40rem);
    }
    100% {
        transform: translateX(0.5%);
    }
}