@import '../styles/variables';

.grid {
    @include layout;

    overflow-y: scroll;

    display: grid;
    grid-template-columns: repeat(7, auto);
    @include respond(laptop-1) {
        grid-template-columns: repeat(6, auto);
        width: 100%;
    }
    @include respond(laptop-2) {
        grid-template-columns: repeat(5, auto);
    }
    @include respond(tablet-1) {
        grid-template-columns: repeat(3, auto);
    }

    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0 auto;
}