@import '../styles/variables';

.container {
    @include layout;
    
    overflow-y: scroll;
    background: rgba($color-pokedex, 0.8);

    & > div {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
    }
}