@import '../styles/variables';

.landing_container {
    @include layout();
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    color: $color-text;
    font-family: $font-pk;
    background: linear-gradient(to bottom right,
        $color-pokedex,
        $color-pokedex-2,
        $color-pokedex-2
    );
}

.header {
    width: 85%;
    margin: 0 auto;
    padding-top: 3rem;
    @include ios(iphone-8) {
        padding-top: 0;
    }
    padding-bottom: 1rem;
    border-bottom: 2px solid $color-white;

    & > h3 {
        color: $color-white;
        text-shadow: 1.5px 1.5px 3px $color-text;
        font-size: 6rem;
        font-weight: 300;
        text-align: center;
    }
}

.body {
    width: 85%;
    margin: 0 auto;
    padding: 4rem 2.5%;
    border-right: 2px solid $color-white;
    border-left: 2px solid $color-white;
    border-bottom: 2px solid $color-white;
    background: linear-gradient(to bottom right,
        rgba($color-text, 0.8),
        $color-text,
        $color-text
    );

    & > p {
        display: block;
        font-family: $font-pk;
        font-weight: 300;
        font-size: 3.75rem;
        color: $color-white;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }

        & > span {
            color: $color-white;
            font-size: 4.5rem;
            text-shadow: 0.5px 0.5px 3px $color-text;
            text-decoration: underline;
            font-weight: 500;
        }
    }
}