@import '../styles/variables';

.moves_tab {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 95%;
    padding: 1rem 0;
    overflow-y: scroll;
    font-family: $font-pk;
    
    @include respond(tablet-1) {
        width: 100%;
    }
}

.gen_select {
    display: block;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 1rem;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        filter: contrast(130%);
    }
}

.gens {
    width: 100%; 
    height: 100%;
    outline: 0; 
    font-size: 2rem;
    font-family: $font-pk;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 0.75rem 3rem;
    border-radius: 20px;
    background-image: none;

    cursor: pointer;

    &:focus,
    &:hover {
        outline: none;
        box-shadow: 0px 0px 10px 5px rgba($color-focus, 0.7);
    }

    & > option {
        background: rgba($color-black, 0.5);
    }

    @include respond (tablet-1) {
        font-size: 2.6rem;
    }
}

.grid_title {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.move_grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 1rem;
    justify-items: center;
    margin-bottom: 1rem;

    @include respond(laptop-2) {
        grid-template-columns: repeat(2, auto);
    }
    @include respond(tablet-1) {
        grid-template-columns: repeat(4, auto);
    }
    @include respond(phone-1) {
        grid-template-columns: repeat(3, auto);
    }
}

.move {
    max-width: 10rem;
    min-width: 10rem;
    max-height: 6rem;
    min-height: 6rem;
    text-transform: capitalize;
    border-radius: 12px;
    overflow: hidden;

    @include respond(tablet-1) {
        max-width: 14rem;
        min-width: 14rem;
        max-height: 8rem;
        min-height: 8rem;
    }
    @include respond(phone-1) {
        max-width: 17.5rem;
        min-width: 17.5rem;
        max-height: 10rem;
        min-height: 10rem;
    }
    @include ios(iphone-plus) {
        max-width: 14rem;
        min-width: 14rem;
        max-height: 8rem;
        min-height: 8rem;
    }
    @include ios(iphone-8) {
        max-width: 12rem;
        min-width: 12rem;
        max-height: 7.5rem;
        min-height: 7.5rem;
    }
    @include ios(se) {
        max-width: 10rem;
        min-width: 10rem;
        max-height: 6rem;
        min-height: 6rem;
    }

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    cursor: pointer;
}

.move_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 92%;
    font-size: 1.2rem;
    @include respond(tablet-1) {
        font-size: 1.75rem;
    }
    @include respond(phone-1) {
        font-size: 2.2rem;
    }

    & > span {
        display: inline-block;
    }
}

.move_name {
    font-size: 1.75rem;
    @include respond(tablet-1) {
        font-size: 2.3rem;
    }
    @include respond(phone-1) {
        font-size: 2.8rem;
    }
    text-align: center;
    margin: 0 auto;
}