@import '../styles/variables';

.container {
    @include layout;

    padding-top: 3rem;
    background: maroon;

    animation: slideIn 300ms ease-out;

    z-index: 500;
}

.exit {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1rem;
    padding-top: 1rem;
    font-size: 3rem;
    color: $color-white;
    background: transparent;
    border: none;
}

.title {
    text-align: center;
    font-size: 5rem;
    color: $color-white;
    text-transform: capitalize;
}

@keyframes slideIn {
    0% {
        transform: translateX(50rem);
    }
    100% {
        transform: translateX(0);
    }
}