@import '../styles/variables';

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 15rem;
    height: 25.85rem;

    @include respond(laptop-2) {
        width: 16.5rem;
        height: 25.85rem;
    }
    @include respond(tablet-1) { //for tablet-1, all size values are 1.3 scale
        width: 19.2rem;
        height: 30.55rem;
    }
    @include ios(iphone-plus) {
        width: 14.75rem;
        height: 23.5rem;
    }
    @include ios(iphone-8) {
        width: 12.5rem;
        height: 20rem;
    }
    @include ios(se) {
        width: 11.25rem;
        height: 18rem;
    }

    border-radius: 3px;
    box-shadow: -2px 2px 6px rgba($color-black, 0.6);
    font-family: $font-sans;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &:hover {
        cursor: pointer;
    }
}

.sprite {
    width: 100%;
    image-rendering: pixelated;
}

.info {
    display: flex;
    flex-direction: row;
    margin: 0.4rem 0.55rem;
}

.infoTypes {
    width: 65%;

    &:first-child {
        margin-right: 0.8rem;
    }
}

.infoNumber {
    font-family: $font-pk;
    font-size: 2.75rem;
    @include respond (tablet-1) { font-size: 3.35rem; }
    text-align: right;
    width: 35%;
}

.name {
    font-size: 2rem;
    @include respond (tablet-1) {
        font-size: 2.6rem;
        letter-spacing: 0.2rem;
    }
    margin: 0 auto;
    text-align: center;
    margin-top: 0.5rem;
    text-transform: capitalize;
}